<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{dashboard}">
<head>
</head>
<body>
<div class = "container" layout:fragment="content">
    <div class ="row">
        <h1>List Students</h1>
    </div>
    <div class ="row">
        <div class ="col-lg-3">
            <a th:href="@{/students/new}" class ="btn btn-primary btn-sm mb-3"> Add Student </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Student First name</th>
                <th>Student Last name</th>
                <th>Student Email name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "student:${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>